<?xml version="1.0"?>
<config>
	<modules>
		<Redkiwi_Rkcheckout>
            <version>0.1.0</version>
		</Redkiwi_Rkcheckout>
	</modules>
	
	<frontend>
        <layout>
            <updates>
                <rkcheckout>
                    <file>rkcheckout.xml</file>
                </rkcheckout>
            </updates>
        </layout>
	</frontend>
	
    <global>
		<helpers>
			<rkcheckout>
				<class>Redkiwi_Rkcheckout_Helper</class>
			</rkcheckout>
		</helpers>
	</global>
</config>